.users {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    height: auto;
}

.user {
    text-align: center;
}

.user p {
    margin: 0;
    text-align: center;
}

.user img {
    margin-top: 20px;
    width: 50px;
    border-radius: 50%;
}

.userAvatar {
    width: 80px;
}

button {
    width: 80px;
}

.pages {
    text-align: center;
}

.activePage {
    font-weight: bold;
}

.preloader {
    width: 70px;
    margin-left: auto;
    margin-right: auto;
}