.nav {
    grid-area: nav;
    background-color: rgba(236, 173, 240, 0.4);
    padding: 20px;
    border-radius: 10px;
    height: 300px;
    margin-right: 15px;
}

.item {
    padding-bottom: 5px;
    margin: 10px;
    padding-left: 12px;
    background-color: rgba(213, 157, 217, 0.26);
    border-radius: 10px;
    text-align: left;
}

.item a {
    color: Black;
    text-decoration: none;
}

.item a.active {
    color: Red;
}

.friends {
    text-decoration: none;
    margin-bottom: 10px;

}
.friends img {
    border-radius: 50%;
    float: left;
}