html{
    position: relative;
    min-height: 100%;
    background-color: aliceblue;
}

.add-wrapper {
    margin: 0 auto;
    display: grid;
    grid-template-areas: "header header" 
    "nav content";
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr 6fr;
    width: 1480px;
}
.add-wrapper-content {
    grid-area: content;
    background-color: #f1f2f2;
}

