.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding-top: 20px;
    padding-left: 20px;
}

.dialogsItems .active {
    color: gold;
}

.massages {
    padding-top: 20px;
    width: 400px;

}

.newMassage {
    text-align: right;
}
